<!DOCTYPE html>
<html>
<head>
    <title>KAKAPO Code Search</title>
    <link rel="stylesheet" href="./static/style.css">
    <script>
        async function submitForm(event) {
            event.preventDefault();
            const repolink = document.getElementById("repolink").value;
            const response = await fetch("/api/store_repo", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ repolink: repolink })
            });
            const result = await response.json();
            document.getElementById("repo_result").innerText = "The result is: " + result.result;
        }
        async function submitQuestionForm(event) {
            event.preventDefault();
            const question = document.getElementById("question").value;
            const response = await fetch("/api/ask_question", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ question: question })
            });
            const result = await response.json();
            document.getElementById("question_result").innerText = "The answer is: " + result.answer;
        }
    </script>
</head>
<body>
    <h1>KAKAPO Search Engine</h1>
    <div class="query_box">
    <span>Repo URL:</span>
    <form onsubmit="submitForm(event)">
        <input type="url" id="repolink" name="repolink" required>
        <button type="submit">Submit</button>
    </form>
    <div id="repo_result"></div></div>

    <div class="query_box">
    <span>Ask a Question</span>
    <form onsubmit="submitQuestionForm(event)">
        <input type="text" id="question" name="question" required>
        <button type="submit">Ask</button>
    </form>
    <div id="question_result"></div></div>
</body>
</html>

